/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/config.yml
/app/config/parameters.yml.dist
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/cache/dev/profiler
/build/
/vendor/
/bin/
/composer.phar
