<!DOCTYPE html>
<html class=" is-responsive" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


      <meta name="viewport" content="width=device-width"/>

    <title>Build a Website  | Freelancer</title>

    <meta http-equiv="x-dns-prefetch-control" content="on">

    <style>
  #newsfeed_tr{
    height: 80px;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #DEDEDE;
    font-size: .875rem;
    line-height: 1.43;
    color: #1f2836;
  }

  #feed_img{
    width: 10%;

  }



    .project-snapshot-add{
      -webkit-box-pack: center;
      justify-content: center;
      overflow: hidden;
      color: #75787d;
      border: 1px dashed #DEDEDE;
      background-color: #F7F7F7
    }


    .proposal-placeholder-section{
      padding-top:20px !important;
      min-height: 300px;
    }

    .recent-projects-list li{
        float:left;
        width: 50%;
        list-style: none;
    }

    .project-snapshot {
      padding: 12px;
    }

    .project-view-aside-inner{
      padding: 12px;
    }

    .user-details{
      padding: 12px;
    }


    </style>

    <link rel="icon" href="https://www.freelancer.com/favicon.ico" type="image/ico"/>
    <link rel="shortcut icon" href="https://www.freelancer.com/favicon.ico"/>
    <link rel="publisher" href="http://plus.google.com/+Freelancer"/>
    <meta name="description" content="Freelancer is the ultimate freelance jobs website with millions of freelance jobs and millions of professional freelancers ready to bid on your projects." />
    <meta property="og:site_name" content="Freelancer"/>
    <meta property="og:image" content="https://www.f-cdn.com/img/facebook/default-1a9cd0e5.jpg"/>


    <!-- css section -->
    <link href="https://cdn5.f-cdn.com/build/css/js-plugins/jquery.fileupload-ui.css?v=cd7ec3a496ae786928f334b389815dd4&amp;m=6" type="text/css" rel="stylesheet" />
    <link href="https://cdn5.f-cdn.com/build/css/flux/base.css?v=41d319ef9e82be92b8f7d009a983711e&amp;m=6" type="text/css" rel="stylesheet" />
    <link href="https://cdn3.f-cdn.com/build/css/flux/LoggedInBase.css?v=50e5a05e57ee3ff4bd0fd457ba1b6ed3&amp;m=6" type="text/css" rel="stylesheet" />
    <link href="https://cdn2.f-cdn.com/build/css/flux/layout/PageProjectView.css?v=0ea54547ee85298ed6d6fee2d18d22f6&amp;m=6" type="text/css" rel="stylesheet" />


    {% javascripts 'bundles/app/js/jquery.min.js'
    'bundles/app/js/bootstrap.min.js'
    'bundles/app/js/jquery-migrate.min.js'
    'bundles/app/js/font-awesome-icons.js'
    'bundles/app/js/load-newsfeed.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


  </head>

  <!--body-->
  <body>
    <div id="fb_pixel"></div>

    <!-- SUPPORT HQ BANNER -->
    <!-- END SUPPORT HQ BANNER -->
    <div class="pinky-template">
        <div id="appp-banner"></div>
    </div>

    <div class="pinky-template" id="pinky-container">
        <div id="global_modal_root">
            <div id="message"></div>
            <div id="notification"></div>
            <div class="modal-backdrop is-hidden" data-target="modal-bg"></div>
        </div>

<fl-navigation class="fl-header"
        role="banner"
        fl-translation-crawler
        ng-controller="appController as ctrl"
        data-target="primary-header-container"
        ng-class="{'no-subnav': ctrl.hideSubnav}"
        ng-strict-di>

    <div class="primary-navigation-section"
    data-target="primary-header" fl-analytics-section="DaVinciNavigation">
        <div class="navigation-section-inner">

            <!-- Logo container-->

            <div class="fl-logo-container">
                <a class="fl-logo" href="/dashboard/" fl-analytics="PrimaryLogo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 72.449" class="flicon-logo-fullcolor"><title>Freelancer Logo</title><g fill="#29B2FE"><path d="M56.897 0l6.624 9.29L97.036 0M22.075 72.333l18.13-17.725-10.912-11.71M54.152 0l-9.69 8.738 16.298.608M16.482 0l3.48 7.133 19.18 1.195M26.75 36.986l14.17-26.434L-.23 8.328M28.4 38.662L41.785 53.04 56.55 38.567l4.582-26.957-17.993-.918"/></g><path fill="#161F2B" d="M85.22 33.902h-3.67l-3.214 20.286c-.084.532-.587.966-1.12.966h-7.34c-.532 0-.897-.434-.813-.966l4.506-28.45c1.14-7.195 4.772-8.79 9.747-8.79 1.545 0 3.164.146 4.43.387.564.097.945.435.86.966l-.727 4.59c-.084.53-.58.917-1.16.917h-2.027c-1.207 0-1.622.482-1.85 1.932l-.207 1.303h3.67c.532 0 .897.434.813.967l-.78 4.926c-.086.532-.59.966-1.12.966zM103.54 34.24h-.675c-2.077 0-4.103.29-5.73 1.11l-2.968 18.74c-.084.533-.555 1.063-1.135 1.063h-7.244c-.58 0-.978-.53-.894-1.062l4.13-26.08c.085-.533.443-.968 1.12-.968h6.954c.676 0 .928.242.813.967l-.183 1.158c2.533-2.27 4.31-2.512 6.87-2.512.82 0 .934.193.812.967l-.934 5.892c-.09.58-.307.725-.935.725zM127.806 43.707h-15.02l-.014.096c-.406 2.56.405 4.153 3.93 4.153 2.56 0 7.33-.24 9.237-.387.78-.05 1.046.095.93.82l-.687 4.348c-.122.773-.37 1.11-1.18 1.353-3.252 1.016-6.66 1.498-10.717 1.498-6.52 0-12.013-3.43-10.552-12.654l.505-3.188c1.345-8.5 7.005-13.137 14.926-13.137 8.452 0 11.514 5.36 10.283 13.136l-.46 2.9c-.1.626-.605 1.06-1.184 1.06zm-7.038-5.265c.46-2.898-.425-4.637-2.84-4.637-2.318 0-3.848 1.74-4.307 4.637l-.022.145h7.147l.023-.145zM154.538 43.707h-15.02l-.014.096c-.406 2.56.405 4.153 3.93 4.153 2.56 0 7.33-.24 9.237-.387.78-.05 1.048.095.933.82l-.688 4.348c-.122.773-.37 1.11-1.18 1.353-3.252 1.016-6.66 1.498-10.717 1.498-6.52 0-12.013-3.43-10.552-12.654l.505-3.188c1.347-8.5 7.007-13.137 14.928-13.137 8.452 0 11.514 5.36 10.283 13.136l-.458 2.9c-.1.626-.605 1.06-1.184 1.06zm-7.04-5.265c.46-2.898-.424-4.637-2.838-4.637-2.318 0-3.85 1.74-4.308 4.637l-.023.145h7.146l.023-.145zM164.34 55.154h-7.292c-.532 0-.978-.53-.894-1.062l5.592-35.308c.084-.53.684-.965 1.215-.965h7.293c.532 0 .897.433.813.964l-5.592 35.308c-.084.53-.603 1.062-1.134 1.062zM190.007 55.154h-6.713c-.53 0-.897-.434-.813-.966l.162-1.014c-2.05 1.352-4.632 2.414-7.288 2.414-3.815 0-7.922-2.125-6.89-8.645l.092-.58c.918-5.796 5.642-7.873 13.707-7.873h2.077l.222-1.4c.375-2.366-.33-2.8-2.744-2.8-2.705 0-7.09.24-8.458.338-.828.048-1-.387-.91-.967l.743-4.684c.115-.724.54-.965 1.15-1.16 1.67-.482 5.93-1.16 9.022-1.16 7.003 0 11.724 2.513 10.47 10.434l-2.708 17.098c-.085.532-.59.966-1.12.966zm-6.173-11.64h-2.366c-2.415 0-3.503.773-3.824 2.8l-.077.484c-.26 1.643.774 2.126 2.126 2.126 1.16 0 2.517-.34 3.4-.724l.74-4.686zM217.898 55.154h-7.244c-.58 0-.978-.53-.894-1.062l2.593-16.374c.405-2.56-.285-3.38-2.46-3.38-1.11 0-2.58.433-3.782 1.014l-2.967 18.74c-.084.532-.555 1.062-1.135 1.062h-7.244c-.58 0-.978-.53-.894-1.062L198 28.01c.085-.532.588-.967 1.12-.967h6.713c.532 0 .897.434.813.967l-.176 1.11c2.865-1.932 5.654-2.464 8.36-2.464 7.58 0 7.706 5.313 6.796 11.06l-2.593 16.375c-.085.533-.556 1.064-1.135 1.064zM239.323 54.816c-1.703.386-3.89.772-6.738.772-7.39 0-10.793-4.733-9.538-12.654l.574-3.622c1.248-7.873 6.166-12.703 13.555-12.703 2.85 0 5.195.433 6.494.77.604.146.904.388.804 1.016l-.864 5.458c-.092.58-.45 1.014-1.16.917-1.62-.143-3.134-.337-5.5-.337-2.076 0-3.49 1.305-4.056 4.88l-.574 3.62c-.566 3.575.443 4.83 2.52 4.83 2.365 0 3.926-.096 5.6-.29.74-.095.968.29.87.918l-.858 5.41c-.1.63-.477.87-1.13 1.016zM267.67 43.707h-15.02l-.015.096c-.406 2.56.405 4.153 3.93 4.153 2.56 0 7.33-.24 9.237-.387.78-.05 1.047.095.933.82l-.69 4.348c-.12.773-.368 1.11-1.18 1.353-3.25 1.016-6.66 1.498-10.716 1.498-6.52 0-12.014-3.43-10.553-12.654l.505-3.188c1.346-8.5 7.006-13.137 14.927-13.137 8.45 0 11.514 5.36 10.282 13.136l-.46 2.9c-.1.626-.604 1.06-1.183 1.06zm-7.04-5.265c.46-2.898-.424-4.637-2.84-4.637-2.317 0-3.848 1.74-4.307 4.637l-.023.145h7.147l.023-.145zM282.857 27.043l-4.3 27.048c-.084.533-.555 1.063-1.135 1.063h-7.244c-.58 0-.978-.53-.894-1.062l2.854-17.894 10.72-9.153z"/><path fill="#29B2FE" d="M285.326 27.043l-1.484 9.28 15.93-9.28"/></svg>
</a>
            </div>

            <!-- Primary nav (logged in) -->
            <nav class="primary-navigation" ng-cloak>
              <div class="primary-navigation-inner">
                <fl-primary-nav ng-hide="ctrl.simpleHeader" ng-mouseover="ctrl.init()">
                    <fl-primary-nav-item class="fl-primary-nav-item" title="Hire Freelancers" href="/post-project" label="hire">
                        <nav class="primary-subnav">
                            <fl-nav-group title="Find a freelancer">
                                <fl-primary-subnav-item title="Start a Project" label="StartAProject" href="/post-project">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Start a Contest" label="GoToPostContest" href="/contest/create.php">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Post a Local Job" label="postALocalJob" href="/local">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Get a Recruiter" label="GoToRecruiterLanding" href="/recruiter">
                                </fl-primary-subnav-item>
                            </fl-nav-group>
                            <fl-nav-group title="Discover">
                                <fl-primary-subnav-item title="Showcase" label="AllShowcase" href="/showcase"></fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Browse Directory" label="GoToFreelancers" href="/freelancers/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Community" label="GoToCommunity" href="/community/"></fl-primary-subnav-item>

                            </fl-nav-group>
                        </nav>
                    </fl-primary-nav-item>

                    <fl-primary-nav-item class="fl-primary-nav-item" title="Work" href="/jobs/myskills/" label="work">
                        <nav class="primary-subnav">
                            <fl-nav-group title="Find Work">
                                <fl-primary-subnav-item title="Projects with My Skills" label="MySkillsProjects" href="/jobs/myskills/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Browse Projects" label="LatestJobs" href="/jobs/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Browse Contests" label="LatestContests" href="/contest/browse/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Browse Local Jobs" label="LocalJobsProjects" href="/jobs/localjobs/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Browse Categories" label="JobCategories" href="/job/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Bookmarks" label="BookmarkedProjects" href="/jobs/bookmark/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Get Certified" label="GetCertified"
                                                        href="/exam/exams/index.php?ttref=Exams_DaVinciWork">
                                </fl-primary-subnav-item>
                            </fl-nav-group>
                        </nav>
                    </fl-primary-nav-item>

                    <fl-primary-nav-item class="fl-primary-nav-item" title="My Projects" href="/dashboard/projects.php" label="myprojects_v6">
                        <nav class="primary-subnav">
                            <fl-nav-group title="My Projects">

                            <li class="primary-subnav-item">
                                    <a class="primary-subnav-link">

                                    </a>
                                </li>
                            </fl-nav-group>

                            <fl-nav-group title="Manage">
                                <fl-primary-subnav-item title="My Projects" label="GoToProjects" href="/dashboard/projects.php">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Dashboard" label="GoToDashboard" href="/dashboard/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Inbox" label="GoToInbox" href="/messages">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Feedback" label="GoToFeedback" href="/dashboard/feedback.php">
                                </fl-primary-subnav-item>
                            </fl-nav-group>
                        </nav>
                    </fl-primary-nav-item>

                    <fl-primary-nav-item class="fl-primary-nav-item" title="Help" href="/support" label="help">
                        <nav class="primary-subnav">
                            <fl-nav-group title="Get Help">
                                <fl-primary-subnav-item title="Get Support" label="SupportHQ" href="/support"></fl-primary-subnav-item>
                                <fl-primary-subnav-item title="How Freelancer.com Works" label="HowItWorks" href="/info/how-it-works.php">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Frequently Asked Questions" label="FAQs" href="/faq/view.php">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Fees and Charges" label="GoToFees" href="/feesandcharges/">
                                </fl-primary-subnav-item>
                                <fl-primary-subnav-item title="Disputes" label="Disputes" href="/dispute/disputeslist.php">
                                </fl-primary-subnav-item>
                            </fl-nav-group>
                        </nav>
                    </fl-primary-nav-item>
                </fl-primary-nav>


                <!-- Search -->

                <div class="nav-search-link-container" ng-hide="ctrl.simpleHeader">
                    <a href="/search" class="nav-search-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flicon-search">
                            <circle fill="none" stroke-linecap="round" stroke-miterlimit="10" cx="10.5" cy="10.5" r="7"></circle>
                            <path fill="none" stroke-linecap="round" stroke-miterlimit="10" d="M21 21l-5.6-5.6"></path>
                        </svg>
                    </a>
                </div>

                <div id="nav-search-container" class="nav-search-container header-search NavSearch" title="Search" >
                    <button class="nav-search-trigger" data-target="header-search-bt" id="header-search-trigger">
                        <span class="Icon">
                            <svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M21.71 20.29l-5.4-5.39a8 8 0 0 0-12-10.56 8 8 0 0 0 10.56 12l5.39 5.39 1.41-1.41zM10 16a6 6 0 1 1 4.24-1.76A6 6 0 0 1 10 16z"/>
</svg>

                        </span>
                    </button>
                    <form class="nav-search-form is-activ"
                        id="nav_search_form_submit"
                        data-target="header-search">
                        <input id="navigation-search" type="search" class="nav-search-input"
                        data-target="header-search-input"
                        placeholder="Search"
                        autocomplete="off" role="search">
                    </form>
                    <div id="nav-search-icon-search" class="hide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flicon-search">
                      <circle fill="none" stroke-linecap="round" stroke-miterlimit="10" cx="10.5" cy="10.5" r="7"/>
                      <path fill="none" stroke-linecap="round" stroke-miterlimit="10" d="M21 21l-5.6-5.6"/>
                  </svg>
                  </div>
                    <div id="nav-search-icon-contest" class="hide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flicon-contest"><g fill="none"><path d="M11.968 3.5l1 2h2L13.35 6.735 13.97 9l-2-1.5-2 1.5.794-2.265L8.968 5.5h2M5.125 10.5c-5 0-4.622-6.62-4.622-8h2.534M18.847 10.5c5 0 4.65-6.62 4.65-8l-2.548.008"/><path d="M21.003.5h-18c0 15.434 7.965 11.054 7.965 16.5-.062 3.5-1.704 4.5-4.465 4.5v2h11v-2c-2.762 0-4.535-1-4.535-4.5 0-5.453 8.035-1.13 8.035-16.5z"/></g></svg></div>
                    <div id="nav-search-icon-project" class="hide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.4 19.7" class="flicon-desktop">
                  </svg>
                  </div>
                </div>
              </div>
            </nav>

            <!-- Notifications area -->

            <section class="header-notifications-wrapper">
                <ul class="header-notifications">
                    <li class="header-notification-finance" >
                        <a href="/deposit" class="header-notification-finance-link"
                           id="finance-subnav-trigger">
                          <span>
                            </span>
                        <sup></sup></a>
                        <nav class="UserFinancial primary-subnav">
                            <div  class="primary-subnav-group">
                                <div class="UserFinancial-upsell">
                                    <img src="https://cdn6.f-cdn.com/build/img/UserFinancial/credit-card.svg?v=e30adf2fc131575a8535263acacbd467&m=6" class="UserFinancial-upsell-img" alt="Make a deposit Illustration">
                                    <p class="UserFinancial-upsell-desc"><a href="/payments/deposit.php" fl-analytics="GoToDepositViaGraphic">Make a Deposit</a> to have funds available in your account</p>
                                </div>
                            </div>
                            <div class="primary-subnav-group">
                                <h6 class="primary-subnav-title">Balances</h6>
                                <ul class="primary-subnav-list">
                                    <li class="UserFinancial-item primary-subnav-item" ng-repeat="balance in ctrl.myBalances">
                                        <div class="UserFinancial-currency">

                                        </div>
                                    </li>
                                    <li class="primary-subnav-item">

                                    </li>
                                    <li class="primary-subnav-item" ng-show="pendingfunds">
                                        <a class="primary-subnav-link" href="/payments/transactions.php?tab=pending">Pending Funds</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="primary-subnav-group">
                                <h6 class="primary-subnav-title">Manage</h6>
                                <ul class="primary-subnav-list">
                                    <li class="primary-subnav-item">
                                        <a ng-href="/users/financial-dash/" class="primary-subnav-link" fl-analytics="GoToFinance">
                                            Finances
                                        </a>
                                    </li>
                                    <li class="primary-subnav-item">
                                        <a ng-href="/payments/transactions.php" class="primary-subnav-link" fl-analytics="GoToHistory">
                                            Transaction History
                                        </a>
                                    </li>
                                    <li class="primary-subnav-item">
                                        <a ng-href="/payments/verify.php?ref=nav" class="primary-subnav-link" fl-analytics="GoToVerifyPayment">
                                            Verify Payment Method
                                        </a>
                                    </li>
                                    <li class="primary-subnav-item">
                                        <a ng-href="/payments/withdraw.php" class="primary-subnav-link" fl-analytics="GoToWithdraw">
                                            Withdraw Money
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </li>

                    <li id="tabmanager_pmbs" class="popover-trigger header-notification-message">
                        <a id="message-icon" class="open_tab header-notification">
                            <span class="Icon"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M11.998 3c-5.514 0-10 4.038-10 9 0 1.736.54 3.393 1.572 4.837L.998 21h11c5.514 0 10-4.036 10-9s-4.486-9-10-9zm-4 10c-.553 0-1-.446-1-1s.447-1 1-1c.553 0 1 .448 1 1s-.447 1-1 1zm4 0c-.553 0-1-.446-1-1s.447-1 1-1c.553 0 1 .448 1 1s-.447 1-1 1zm4 0c-.553 0-1-.446-1-1s.447-1 1-1c.553 0 1 .448 1 1s-.447 1-1 1z"/>
</svg>
</span>
                      <span class="dot-alert"></span>
                        </a>
                        <!-- Dropdown -->
<div id="message-notification" class="popover bottom message-notifications-popover">
    <div class="arrow"></div>
    <div id="message-notifications-popover-content" class="popover-content">
        <header class="popover-head">
            <span class="popover-head-title">Messages</span>
        </header>
        <ol class="notification-popover-thread"></ol>
        <a href="/messages" class="notification-popover-more-bt">
            <strong>See All Messages</strong>
        </a>
    </div>
    <div class="project_info_container"></div>
</div>

                    </li>

                    <li id="tabmanager_notify" class="popover-trigger header-notification-update">
                        <a id="realtime-icon" class="open_tab header-notification">
                            <span class="Icon"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M18 14V9c0-3.314-2.686-6-6-6S6 5.686 6 9v5c0 1.657-1.344 3-3 3v1h18v-1c-1.656 0-3-1.343-3-3zM8.555 19c.693 1.19 1.97 2 3.445 2s2.752-.81 3.445-2h-6.89z"/>
</svg>
</span>
                            <span class="dot-alert"></span>
                        </a>
                        <div id="realtime-notification" class="popover bottom user-notifications-popover">
    <div class="arrow"></div>
    <div id="user-notifications-popover-content" class="popover-content">
        <!-- Contact Requests -->
        <div id="contact-request-thread">
            <header class="popover-head">
                <span class="popover-head-title">Contact Requests</span>
            </header>
            <ol class="notification-popover-thread"></ol>
        </div>
        <!-- Notifications -->
        <div id="user-notification-thread" class="user-notification-thread">
            <header class="popover-head">
                <span class="popover-head-title">Notifications</span>
                <div class="dropdown notification-setting-bt">
                    <a href="javascript:void(0)" class="showSettings dropdown-toggle" data-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19" class="flicon-gear"><path fill="none" d="M7.1 2.6c-.8.3-1.7.7-2.4 1.3L3 2.9.5 7.1l1.8 1c-.1.5-.1.9-.1 1.4 0 .5 0 .9.1 1.3l-1.8 1L2.9 16l1.8-1c.7.6 1.5 1 2.3 1.3v2.1h5v-2.1c.8-.3 1.6-.8 2.3-1.3l1.8 1 2.4-4.2-1.8-1c.1-.4.1-.9.1-1.3 0-.5 0-.9-.1-1.3l1.8-1L16 2.9l-1.8 1c-.7-.6-1.5-1-2.3-1.3V.5H7.1v2.1z"/><path fill="none" d="M12.8 9.5c0 1.8-1.5 3.3-3.3 3.3-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="flicon-chevron-right"><path fill="none" d="M2.714 11.75L9.284 6 2.715.25"/></svg>
                    </a>
                    <div class="notification-backdrop"></div>
                </div>
            </header>
            <ol class="notification-popover-thread"></ol>
        </div>
    </div>
</div>

                    </li>

                    <li id="tabmanager_live" class="popover-trigger header-notification-feed">
                        <a id="live-icon" class="open_tab header-notification">
                            <span class="Icon"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 10c-1.106 0-2 .897-2 2 0 .737.404 1.375 1 1.723V22h2v-8.277c.596-.348 1-.986 1-1.723 0-1.103-.896-2-2-2zM6.343 6.342L4.93 4.928c-3.9 3.9-3.9 10.244 0 14.143l1.413-1.413c-3.12-3.12-3.12-8.195 0-11.315zM19.07 4.928l-1.414 1.414C19.168 7.854 20 9.862 20 12c0 2.137-.832 4.145-2.344 5.656l1.414 1.414C20.96 17.182 22 14.67 22 12s-1.04-5.183-2.93-7.072z"/>
  <path d="M7.758 7.757C6.625 8.89 6 10.397 6 12c0 1.602.625 3.11 1.758 4.242l1.414-1.415C8.416 14.073 8 13.07 8 12c0-1.068.416-2.073 1.172-2.828L7.758 7.757zM16.242 7.757l-1.414 1.415C15.584 9.927 16 10.932 16 12c0 1.068-.416 2.072-1.172 2.827l1.414 1.415C17.375 15.11 18 13.602 18 12c0-1.603-.625-3.11-1.758-4.243z"/>
</svg>
</span>
                            <span class="dot-alert"></span>
                        </a>
                        <div id="realtime-live" class="popover bottom project-notifications-popover">
    <div class="arrow"></div>
    <div id="project-notifications-popover-content" class="popover-content">
        <header class="popover-head">
            <span class="popover-head-title">Project feed</span>
            <div class="dropdown notification-setting-bt">
                <a href="javascript:void(0)" class="showSettings dropdown-toggle" data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19" class="flicon-gear"><path fill="none" d="M7.1 2.6c-.8.3-1.7.7-2.4 1.3L3 2.9.5 7.1l1.8 1c-.1.5-.1.9-.1 1.4 0 .5 0 .9.1 1.3l-1.8 1L2.9 16l1.8-1c.7.6 1.5 1 2.3 1.3v2.1h5v-2.1c.8-.3 1.6-.8 2.3-1.3l1.8 1 2.4-4.2-1.8-1c.1-.4.1-.9.1-1.3 0-.5 0-.9-.1-1.3l1.8-1L16 2.9l-1.8 1c-.7-.6-1.5-1-2.3-1.3V.5H7.1v2.1z"/><path fill="none" d="M12.8 9.5c0 1.8-1.5 3.3-3.3 3.3-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" class="flicon-chevron-right"><path fill="none" d="M2.714 11.75L9.284 6 2.715.25"/></svg>
                </a>
                <div class="notification-backdrop"></div>
            </div>
        </header>
        <ol class="notification-popover-thread"></ol>
    </div>
</div>

                    </li>

                    <!-- Network -->

                    <li class="sites-network" ng-hide="ctrl.simpleHeader" ng-cloak>
                        <div class="sites-network-trigger" id="sites-network-trigger" data-target="header-network-toggle">
                            <span class="Icon"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M4 4h3v3H4zM10 4h3v3h-3zM16 4h3v3h-3zM4 10h3v3H4zM10 10h3v3h-3zM16 10h3v3h-3zM4 16h3v3H4zM10 16h3v3h-3zM16 16h3v3h-3z"/>
</svg>
</span>
                        </div>
                        <nav class="sites-network-nav" data-target="header-network-dropdown">
                            <div class="arrow"></div>
                            <div class="sites-network-nav-inner" id="sites-network-nav-inner" data-target="header-network-inner">
                                <ul class="sites-network-links">
                                    <li>
                                        <a class="sites-network-link" href="/contest/" fl-analytics="NetworkContests">
                                            <span class="sites-network-icon has-fill"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flicon-contest"><g fill="none"><path d="M11.968 3.5l1 2h2L13.35 6.735 13.97 9l-2-1.5-2 1.5.794-2.265L8.968 5.5h2M5.125 10.5c-5 0-4.622-6.62-4.622-8h2.534M18.847 10.5c5 0 4.65-6.62 4.65-8l-2.548.008"/><path d="M21.003.5h-18c0 15.434 7.965 11.054 7.965 16.5-.062 3.5-1.704 4.5-4.465 4.5v2h11v-2c-2.762 0-4.535-1-4.535-4.5 0-5.453 8.035-1.13 8.035-16.5z"/></g></svg></span>
                                            <div class="sites-network-name">Contests</div>
                                        </a>
                                    <li>
                                        <a class="sites-network-link" href="/local?fromLinks=1" fl-analytics="NetworkFreelancerLocal">
                                            <span class="sites-network-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="4 -4 24 24" class="flicon-pin">
  <path d="M16.4-3.5C11.5-3.7 7.3.1 7 5c-.2 7.1 8.5 14.5 8.5 14.5s9.2-6.4 9.5-13.8c.1-4.8-3.7-9-8.6-9.2zm4.7 8.6c-.1 2.8-2.5 4.8-5.3 4.8-2.8-.1-4.9-2.4-4.8-5.2s2.5-4.8 5.3-4.8c2.7.1 4.9 2.4 4.8 5.2z"/>
</svg>
</span>
                                            <div class="sites-network-name">Freelancer Local</div>
                                        </a>
                                    <li>
                                        <a class="sites-network-link" href="/community" fl-analytics="NetworkFreelancer">
                                            <span class="sites-network-icon"><svg viewBox="-8 8 24 24" class="flicon-community">
  <path d="M15 17H2.2l-4.5 3.5V17H-7V9h22z"/>
  <path d="M-4.6 20H-7v6.9H5.9l4.4 4.1v-4.1H15V20H2.5"/>
</svg>
</span>
                                            <div class="sites-network-name">Community</div>
                                        </a>
                                    <li>
                                        <a class="sites-network-link" href="/showcase" fl-analytics="NetworkFreelancer">
                                            <span class="sites-network-icon"><svg viewBox="4 -4 24 24" class="flicon-showcase">
  <path d="M27.5 4.1h-23M16 18L4.5 4.1l5-6.1h13l5 6.1L16 18z"/>
  <path d="M11.5 4.1L16-2l4.5 6.1L16 18 11.5 4.1zM9.5-2l2 6.1m11-6.1l-2 6.1"/>
</svg>
</span>
                                            <div class="sites-network-name">Showcase</div>
                                        </a>
                                </ul>
                                <ul class="sites-network-links is-sibling-sites">
                                    <li>
                                        <a class="sites-network-link" href="http://www.warriorforum.com/" fl-analytics="NetworkWarrior">
                                            <span class="sites-network-icon is-warrior-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flicon-warrior"><path d="M18.7 12.3c-.1.2-.4.4-.6.4h-1.3c-.4 0-.5-.1-.6-.4L12 3.5l-4.3 8.6c-.1.1-.1.2-.2.2-.1.1-.2.1-.4.1H5.7c-.4 0-.5-.1-.6-.4L.1 1.7h1.5L6 11.3h.6l4.7-9.5h1.2l4.5 9.5h.5l4.7-9.5h1.6l-5.1 10.5z"/><path fill="#CD2026" d="M18.4 22l-5.8-9.9c-.1-.2-.4-.4-.6-.4s-.5.1-.6.4L5.2 22h13.2z"/></svg></span>
                                            <div class="sites-network-name">Warrior Forum</div>
                                        </a>
                                    <li>
                                        <a class="sites-network-link" href="https://www.freemarket.com/sites/" fl-analytics="NetworkFreemarket">
                                            <span class="sites-network-icon is-freemarket-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flicon-freemarket"><path d="M9.3 0h3.4L5 24H1.6L9.3 0zM19 0h3.4l-7.7 24h-3.4L19 0z" fill="#F78E1E"/></svg></span>
                                            <div class="sites-network-name">Freemarket</div>
                                        </a>
                                </ul>
                            </div>
                        </nav>
                    </li>
                </ul>
                <button class="header-user-trigger header-user" data-section="DaVinciNavigation"></button>
            </section>

        </div>
    </div>

    <!-- Secondary nav (logged in) -->

    <div class="secondary-navigation-section
            "
            ng-cloak
            ng-hide="ctrl.simpleHeader"
            fl-analytics-section="DaVinciSubNavigation">

        <div class="navigation-section-inner">

            <!-- Profile -->
            <fl-secondary-nav title="My Profile" href="/me/" nav-upsell="ctrl.navupsell" id="profile"  one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/me/" label="GoToProfile" title="Improve Profile"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/services/dashboard.php" label="MyServices" title="My Services"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/exam/exams/index.php?ttref=Exams_DaVinciProfile" label="GoToExam" title="Get Certified">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/hireme/" label="GoToHireMe" title="Promote Profile"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/users/game/" label="GoToMyRewards" title="My Rewards"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Showcase -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="showcase" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/showcase" label="GoToShowcase" title="Showcase"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/community" label="GoToCommunity" title="Community" parent-id="community"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/showcase/my" label="My Showcases" title="My Showcases"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Contest -->

            <fl-secondary-nav title="Contests" href="/contest" nav-upsell="ctrl.navupsell" id="contest" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/contest/" label="GoToContestOverview" title="Overview"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/contest/create.php" label="GoToPostContest" title="Start a Contest"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/contest/browse" label="LatestContests" title="Browse Contests"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/showcase" label="AllShowcase" title="Showcase" parent-id="showcase"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/contest-info/" label="GoToContestLearnMore" title="Learn More"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- My Skills -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="work" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/jobs/myskills/" label="MySkillsProjects" title="Projects with My Skills"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/jobs/" label="LatestJobs" title="Browse Projects"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/contest/browse/" label="LatestContests" title="Browse Contests" parent-id="contest">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/jobs/localjobs/" label="LocalJobsProjects" title="Browse Local Jobs"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/job/" label="JobCategories" title="Browse Categories"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/jobs/bookmark/" label="BookmarkedProjects" title="Bookmarks"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Hire Freelancers -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="freelancers" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/post-project" label="StartAProject" title="Start a Project"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/contest/create.php" label="GoToPostContest" title="Start a Contest" parent-id="contest">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/local" label="postALocalJob" title="Post a Local Job" parent-id="localjob">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/showcase" label="AllShowcase" title="Showcase" parent-id="showcase"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/freelancers/" label="GoToFreelancers" title="Browse Directory"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/recruiter/" label="GoToRecruiterLanding" title="Get a Recruiter">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/community/" label="GoToCommunity" title="Community" parent-id="community"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- My Projects -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="myprojects" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/dashboard/projects.php" label="GoToProjects" title="My Projects"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/dashboard/" label="GoToDashboard" title="Dashboard"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/messages" label="GoToInbox" title="Inbox"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/dashboard/feedback.php" label="GoToFeedback" title="Feedback"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Help -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="help" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/support" label="SupportHQ" title="Get Support"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/info/how-it-works.php" label="HowItWorks" title="How Freelancer.com Works">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/faq/view.php" label="FAQs" title="Frequently Asked Questions"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/feesandcharges/" label="GoToFees" title="Fees and Charges"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/dispute/disputeslist.php" label="Disputes" title="Disputes"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Community -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="community" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/community" label="GoToCommunity" title="Community"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/community/experts" label="GoToExperts" title="Experts"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/showcase" parent-id="showcase" label="GoToShowcase" title="Showcase"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/community/blog" label="GoToBlog" title="Blog"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/community/my-articles" label="GoToMyPosts" title="My Posts"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- About -->

            <fl-secondary-nav title="About us" href="/about" nav-upsell="ctrl.navupsell" id="about" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/about" label="Overview" title="Overview"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/about/management" label="Team" title="Team"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/careers" label="Careers" title="Careers"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/about/press" label="Press" title="Press"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/about/media" label="News" title="News"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/about/awards" label="Awards" title="Awards"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/about/quotes" label="Quotes" title="Quotes"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/investor" label="Investor" title="Investor"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/about/security" label="Security" title="Security"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/contact" label="ContactUs" title="Contact Us"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Local Jobs -->

            <fl-secondary-nav title="Local Jobs" href="/local/" nav-upsell="ctrl.navupsell" id="localjob" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/local/" label="postALocalJob" title="Post a Local Job"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/local/browse" label="browseLocalJobs" title="Browse Local Jobs"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Finances -->

            <fl-secondary-nav nav-upsell="ctrl.navupsell" id="finances" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/users/financial-dash/" label="GoToFinance" title="Finances"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/payments/transactions.php" label="GoToHistory" title="Transaction History">
                </fl-secondary-nav-item>

                <!-- begin (a/b test control) -->
                <fl-secondary-nav-item ng-hide="ctrl.navhelpfinanceTest"
                                       href="/payments/verify.php"
                                       label="GoToVerifyPayment"
                                       title="Verify Payment Method">
                </fl-secondary-nav-item>
                <!-- end (a/b test control) -->

                <!-- begin a/b test variation -->
                <fl-secondary-nav-item ng-show="ctrl.navhelpfinanceTest"
                                       href="/payments/verify.php"
                                       label="GoToVerifyPayment"
                                       title="Add Payment Method">
                </fl-secondary-nav-item>
                <!-- end a/b test variation -->

                <fl-secondary-nav-item href="/payments/deposit.php" label="GoToDeposit" title="Deposit Funds"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/payments/withdraw.php" label="GoToWithdraw" title="Withdraw Money"></fl-secondary-nav-item>
            </fl-secondary-nav>

            <!-- Api -->

            <fl-secondary-nav id="api" one-click-btn="ctrl.isAbTestOneClick" one-click-modal="ctrl.show()">
                <fl-secondary-nav-item href="/developers/hackathon/" label="DeveloperSection" title="Developer Section">
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/api/docs" label="Documentation" title="Endpoints"></fl-secondary-nav-item>
                <fl-secondary-nav-item href="/api/docs/exceptions" label="Exceptions" title="Exceptions"></fl-secondary-nav-item>
                <fl-secondary-nav-item label="UseCases" title="Use Cases">
                    <nav class="primary-subnav">
                        <div class="primary-subnav-group">
                            <ul class="primary-subnav-list">
                                <fl-secondary-subnav-item title="Creating a Bid" href="/api/docs/cases/creating_a_bid"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Creating a Milestone" href="/api/docs/cases/creating_a_milestone"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Creating a Project" href="/api/docs/cases/creating_a_project"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="How to Sign Up" href="/api/docs/cases/how_to_signup"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Performing a Bid Action" href="/api/docs/cases/performing_a_bid_action"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Performing a Milestone Action" href="/api/docs/cases/performing_milestone_action">
                                </fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Performing a Milestone Request Action"
                                             href="/api/docs/cases/performing_milestone_request_actions"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Posting a Review" href="/api/docs/cases/posting_a_review"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Requesting a Milestone" href="/api/docs/cases/requesting_a_milestone"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Messaging System" href="/api/docs/cases/messaging"></fl-secondary-subnav-item>
                            </ul>
                        </div>
                    </nav>
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/api/docs/structs/index" label="Reference" title="Reference">
                    <nav class="primary-subnav">
                        <div class="primary-subnav-group">
                            <ul class="primary-subnav-list">
                                <fl-secondary-subnav-item title="Common" href="/api/docs/structs/common"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Users" href="/api/docs/structs/users"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Message Types" href="/api/docs/structs/message_types"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Message Exceptions" href="/api/docs/structs/message_exceptions"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Projects" href="/api/docs/structs/projects"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Contacts" href="/api/docs/structs/contacts"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Preferred Freelancers" href="/api/docs/structs/preferred_freelancers"></fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Preferred Freelancer Program" href="/api/docs/structs/preferred_freelancer_program">
                                </fl-secondary-subnav-item>
                                <fl-secondary-subnav-item title="Translations" href="/api/docs/structs/translations"></fl-secondary-subnav-item>
                            </ul>
                        </div>
                    </nav>
                </fl-secondary-nav-item>
                <fl-secondary-nav-item href="/api/docs/information" label="Information" title="Information">
                    <nav class="primary-subnav">
                        <div class="primary-subnav-group">

                        </div>
                    </nav>
                </fl-secondary-nav-item>
            </fl-secondary-nav>
        </div>
    </div>

    <!-- Side nav -->

    <div class="user-sidebar-container" fl-analytics-section="DaVinciNavigation">
        <div class="sidebar user-sidebar">
            <div class="user-sidebar-info"></div>
            <nav class="sidebar-nav">
                <a class="sidebar-link" fl-analytics="Profile" href="/me/">
                    <span class="Icon Icon--light"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12.002 12.006c2.206 0 4-1.795 4-4s-1.794-4-4-4-4 1.795-4 4 1.795 4 4 4zM12.002 13.006c-4.71 0-8 2.467-8 6v1h16v-1c0-3.533-3.29-6-8-6z"/>
</svg>
</span>
                    Profile
                </a>
                <a class="sidebar-link" fl-analytics="Membership" href="#">
                    <span class="Icon Icon--light"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM9 8c1.105 0 2 .896 2 2s-.895 2-2 2-2-.896-2-2 .897-2 2-2zm-3 8c0-1.84 1.16-3 3-3s3 1.16 3 3H6zm12 0h-4v-2h4v2zm0-3h-4v-2h4v2z"/>
</svg>
</span>
                    Membership
                </a>
                <a class="sidebar-link" fl-analytics="Settings" href="#">
                    <span class="Icon Icon--light"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M19.868 13.38c-.876.395-1.845.62-2.868.62-3.865 0-7-3.134-7-7 0-1.022.225-1.99.62-2.867-1.217.216-2.35.694-3.18 1.307L6 4 4 6l1.44 1.44c-.454.617-.915 1.542-1.18 2.56H2v4h2.26c.266 1.018.727 1.943 1.18 2.56L4 18l2 2 1.44-1.44c.612.452 1.54.914 2.56 1.18V22h4v-2.26c1.02-.266 1.947-.73 2.56-1.18L18 20l2-2-1.44-1.44c.614-.833 1.09-1.963 1.308-3.18z"/>
  <path d="M22 7.91V6.09h-1.492c-.08-.312-.203-.603-.358-.876l.94-.942L19.73 2.91l-.943.94c-.273-.156-.565-.277-.877-.358V2H16.09v1.492c-.31.08-.602.202-.875.358l-.942-.94L12.91 4.27l.94.942c-.154.272-.276.564-.358.876H12v1.818h1.49c.083.31.205.604.36.877l-.942.942 1.364 1.363.942-.94c.273.155.564.277.876.358V12h1.817v-1.49c.312-.083.604-.204.877-.36l.942.94L21.09 9.73l-.942-.942c.155-.273.277-.565.358-.877H22zM17 9c-1.106 0-2-.896-2-2s.894-2 2-2 2 .896 2 2-.895 2-2 2z"/>
</svg>
</span>
                    Settings
                </a>
                <a class="sidebar-link" fl-analytics="Help" href="#">
                    <span class="Icon Icon--light"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12 2C6.486 2 2 6.487 2 12c0 5.515 4.486 10 10 10s10-4.485 10-10c0-5.513-4.486-10-10-10zm0 16.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25zm1-4.375V15h-2v-3h1c1.104 0 2-.897 2-2 0-1.104-.896-2-2-2s-2 .896-2 2H8c0-2.205 1.795-4 4-4s4 1.795 4 4c0 1.86-1.277 3.43-3 3.875z"/>
</svg>
</span>
                    Get Support
                </a>
                <a class="sidebar-link" fl-analytics="InviteFriends" href="#">
                    <span class="Icon Icon--light"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M22 6h-3V3h-2v3h-3v2h3v3h2V8h3"/>
  <circle cx="7.001" cy="5" r="3"/>
  <path d="M7 8c-2.756 0-5 2.243-5 5v3c0 .552.45 1 1 1h1v4c0 .552.45 1 1 1h4c.553 0 1-.448 1-1v-4h1c.553 0 1-.448 1-1v-3c0-2.757-2.242-5-5-5z"/>
</svg>
</span>
                    Invite Friends
                </a>
                <a class="sidebar-link" fl-analytics="Logout" id="headerSignoutButton">
                    <span class="Icon Icon--light"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M18 2H7c-1.103 0-2 .898-2 2v7h7.59l-2.297-2.292 1.413-1.416 4.708 4.7-4.706 4.714-1.416-1.412L12.582 13H5v7c0 1.103.897 2 2 2h11c1.103 0 2-.897 2-2V4c0-1.102-.897-2-2-2z"/>
</svg>
</span>
                    Logout
                </a>
            </nav>
            <span class="sidebar-close-alt">
                <span class="Icon Icon--mid"><svg class="Icon-image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <path d="M20.707 4.707l-1.414-1.414L12 10.586 4.707 3.293 3.293 4.707 10.586 12l-7.293 7.293 1.414 1.414L12 13.414l7.293 7.293 1.414-1.414L13.414 12"/>
</svg>
</span>
            </span>
        </div>
    </div>
</fl-navigation>

    </div>

    <fl-modal-container class="pinky-template"></fl-modal-container>



    <div class="pinky-template">
        <div id="main" class="main-content" aria-label="Content">
        <div fl-app="project_management" fl-translation-crawler>
  <section class="ProjectHeader project-view-main-section">
    <header class="ProjectHeader-container"k>
      <div class="ProjectHeader-inner">
        <div class="ProjectHeader-row">
          <nav class="ProjectHeader-breadcrumbs Breadcrumbs">
            <ul class="Breadcrumbs-list">
              <li class="Breadcrumbs-item">
                <a href="#" class="Breadcrumbs-link">
                  Home
                </a>
              </li>

              <li class="Breadcrumbs-item">
                <a href="" class="Breadcrumbs-link">
                  My Projects
                </a>
              </li>
            </ul>
          </nav>


        </div>




        <!-- END MM-1483 AB TEST -->

        <div class="ProjectHeader-row">
          <nav class="ProjectHeader-nav">
            <ul class="ProjectHeader-navList nav nav-tabs" fl-analytics-section='tabbar'>
              <tab-item class="ProjectHeader-navItem"
                title="Proposals"
                tab="proposals"
                fl-analytics="ViewPVPProposals"
                >
              </tab-item>

              <tab-item class="ProjectHeader-navItem"
                title="Management"
                tab="management"
                fl-analytics="ViewPVPManagement">
              </tab-item>

              <tab-item class="ProjectHeader-navItem"
                title="Upgrade"
                tab="details/upgrades"
                fl-analytics="ProjectUpgrade"
                ng-if="common.isMinimumProject"
                >
              </tab-item>

              <li class="ProjectHeader-navItem dropdown project-view-tab-dropdown">
                <a class="tab-link" id="drop4" role="button" data-toggle="dropdown">
                  <fl-svg src="/static/icons/flicon-other.svg"></fl-svg>
                </a>

                <ul id="menu1" class="ProjectHeader-navDropdown dropdown-menu" role="menu" aria-labelledby="drop4">
                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ViewPVPDetails">Project Details</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectUpgrade">Upgrade</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectEdit">Edit</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectInvite">Invite Freelancers</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectDelete">Delete</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectClose">Close</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectCloseDelete">Close/Delete</a>
                  </li>

                  <li class="ProjectHeader-navDropdownItem" role="presentation">
                    <a class="ProjectHeader-navDropdownLink"
                      role="menuitem"
                      tabindex="-1"
                      fl-analytics="ProjectRepost">Repost</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>



        </div>
      </div>
    </header>

<!--propsal loadin area-->


    <section class="project-view-inner">
      <div class="project-view-wrapper is-loading">
        <div class="project-view-tab-content-wrapper">
          <div class="project-view-proposals-tab" style="clear:both;">

            <section class="proposal-placeholder-section">
            <h1 style="text-align:left">Recent projects</h1>

              <div class="proposal-placeholder-details">

                <ul class="recent-projects-list">
                  <li class="project-snapshot project-snapshot-open">
                    <div class="project-snapshot-content">
                      <div class="project-snapshot-menu">
                        <p class="project-snapshot-status project-snapshot-status-border">Award your project</p>
                        <span class="icon">
                        </span>

                      </div>
                      <h4 class="project-snapshot-heading">Build web site</h4>

                      <div class="FreelancerBid">
                        <div class="FreelancerBid-user">
                          <span class="FreelancerBid-user-text">Recmmend bid</span>
                          <a class="FreelancerBid-user-name">dds</a>
                        </div>

                      </div>


                    </div>

                  </li>

                  <li class="project-snapshot project-snapshot-add is-vacant">
                    <a href="#" class="project-snapshot-content">
                      <span class="fl-icon-plus">

                      </span>
                      <h4 class="create-project-heading">create new project</h4>
                      <p>Millions of talented freelancers are ready to help you do amazing things.</p>
                    </a>

                  </li>

                </ul>



              </div>

            </section>

            <section class="proposal-placeholder-section">
            <h1 style="text-align:left">News feed</h1>

              <div class="proposal-placeholder-details">

                <table style="width: 100%; height: auto">
                <thead>
                <th>&nbsp;</th>

                </thead>
                <tbody id="news_content">

                </tbody>

              </table>

              </div>

            </section>
          </div>
          <aside class="project-view-aside">
            <div class="project-view-aside-inner">
              <div class="user-details-wrap">

                <div class="user-details Card PageDashboard-card">
                  <figure class="ImageThumbnail ImageThumbnail--xlarge PageDashboard-avatar online">
                    <a class="ImageThumbnail-link" href="#">
                    </a>
                  </figure>

                  <div class="welcome-note">
                    <h4 class="user-details-title">welcome back
                    <em><a class="user-details-username">dulajsan</a></em>
                    </h4>

                    <a class="membership">
                      <span>free member</span>
                    </a>

                    <a href="#" class="btn btn-success btn-small user-details-upgrade-btn">
                        upgrade now
                    </a>


                  </div>

                </div>

              </div>
            </div>
          </aside>
        </div>
        <div class="project-view-tab-content-wrapper">
        </div>
      </div>
    </section>
  </section>
</div>
<!-- Free Assisted Upgrade Modal -->
<fl-free-assisted-upgrade></fl-free-assisted-upgrade>

<!-- Create Milestone & Upgrade Modal -->
<fl-create-milestone-upgrade></fl-create-milestone-upgrade>

<!-- Project Award Modal -->
<fl-profile-update-modal class="profile-update-modal"></fl-profile-update-modal>

<!-- Close / Delete modal -->
<fl-close-delete-modal></fl-close-delete-modal>


  <script src="https://cdn6.f-cdn.com/build/angularjs/project_management/project_management.js?v=598cf723698c92fa4ec092a306c035e1&m=6"></script>




<script id="payment-source-template" type="text/template">
<p class="payment-from">
    <div class="need-deposit payment-from-option" style="display:none">

    </div>
    <div class="may-need-deposit payment-from-option" style="display:none">
    </div>
    <div class='only-balance payment-from-option' style="display:none">
    </div>
        <div class="only-vpm payment-from-option" style="display:none">

        </div>
        <div class="mixed-balance-vpm payment-from-option" style="display:none">

        </div>

</p>
<span class="account-balances payment-source-balance" style="display:none">

</span>

    <div class="payment-logos-container" style="display:none">
        <h6>

        </h6>
        <span class="payment-source-option">
            <span class="payment-source-icons">
                <span class="payment-logo-container paypal gatewayPP"

                    <div id="pp-icon">
                      <span class="payment-icon-paypal"></span>
                    </div>
                </span>
                <span class="payment-logo-container cc gatewayGC gatewayWP"
                    <% if (templateData.firstAvailablePaymentMethod != 'gatewayGC' && templateData.firstAvailablePaymentMethod != 'gatewayWP') { %>
                        style="display:none"
                    <% } %>>
                    <div id="cc-icon">
                        <span class="payment-icon-mastercard"></span>
                        <span class="payment-icon-visa"></span>
                        <span class="payment-icon-amex"></span>
                    </div>
                </span>
                <span class="payment-logo-container skrill gatewayMB"

                    <div id="mb-icon">
                      <span class="payment-icon-skrill"></span>
                    </div>
                </span>
            </span>
            <span class="payment-source-detail">
                <span class="showing-method-account-details gatewayPP"
                                    </span>
                <span class="showing-method-account-details gatewayGC"

                </span>

                </span>
                <span class="showing-method-account-details gatewayMB"

                </span>
            </span>
            <span class="payment-source-preference is-preferred"

            </span>
            <span class="payment-method-info inline-block">

                    <a href="#" onclick="return false" class="payment-source-cancel-link close-change-preferred-method" style="display:none">

                    </a>

                <div class="clear"></div>
                <div class="payment-source-edit">
                    <select class="default-select change-preferred-method" style="display:none">
                        <option value="" selected="selected"></option>

                    </select>
                </div>
            </span>
        </span>
        <div class="payments-source-generic-error alert alert-error" style="display:none"></div>
    </div>
<% } %>

</script>
<script id="fixed-amount-payment-modal-template" type="text/template">
<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3></h3>
</div>
<div class="modal-body">
        <div class="payment-sources-container">
        </div>

    <div class="alert alert-error modal-milestone-generic-error regular" style="display:none"></div>

</div>
<div class="modal-footer">

        <button type="button" class="btn btn-info modal-btn-confirm-payment"><%- customizedConfirm.buttonText %></button>


        <button type="button" class="btn modal-btn-cancel-payment"><%- customizedCancel.buttonText %></button>

</div>
</script>


<div class="gaf-container"><div class="create-milestone-modal"></div></div>
<fl-modal-leave-feedback></fl-modal-leave-feedback>

        </div>
    </div>

    <div class="pinky-template">

    </div>

    <div class="pinky-template">
        <div class="responsive-modal hide" id="fb_popup">
    <section class="FacebookSignUpModal modal fb-bs-identifier">
        <header class="FacebookSignUpModal-header modal-header">
            <a class="close FacebookSignUpModal-close close-fb-modal-bs" data-dismiss="modal">
                <span>&times;</span>
            </a>
            <h3 id="fb_login_welcome" class="FacebookSignUpModal-heading">
                Welcome, <span class ="fb_fullname"></span>!
                <span id="fb_login_status">Processing &hellip;</span>
            </h3>
            <h3 id="fb_signup_welcome" class="FacebookSignUpModal-heading" style="display: none">
                Welcome <span class ="fb_fullname"></span>!
            </h3>
            <h3 id="fb_link_welcome" class="FacebookSignUpModal-heading" style="display: none">
                Link to existing Freelancer account
            </h3>
            <div id="fb_error_title" class="FacebookSignUpModal-heading" style="display: none"></div>

            <!-- Profile Image -->
            <div class="FacebookSignUpModal-avatar">
                <div id="fb_profile_pic" class="FacebookSignUpModal-avatarImage ImageThumbnail fb_div" style="display:none"> </div>
            </div>
        </header>

        <div class="modal-body" id="fb-modal-body">
            <div class="FacebookSignUpModal-content">
                <div id="fb_loading" class="FacebookSignUpModal-loader Loader Loader--full"></div>

                <!-- Link To Existing Account -->
                <form id="fb_link" class="FacebookSignUpModal-form fl-form" style="display:none">
                    <div class="form-step">
                        <div id="fb_email_already_linked">
                            <p>
                              The email address <span id="fb_link_email"></span> is already associated with a Freelancer account.
                              <span>Enter your password below to link accounts:</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-step">
                        <label>Username:</label>
                        <div id="fb_link_user_display"></div>
                    </div>
                    <div class="form-step">
                        <input id='fb_link_user' type="hidden">
                        <label for="fb_link_passwd">Password:</label>
                        <input type="password" class="fb_passwd inline-error FacebookSignUpModal-input"
                               id="fb_link_passwd" placeholder="">
                        <p>
                            <a href="#" id="fb_forgot_password_btn">
                                <small>I forgot my password</small>
                            </a>
                        </p>
                    </div>
                    <div class="link-account-error alert alert-error" style="display:none"></div>
                    <div class="form-step">
                        <button id="fb_link_btn" type="button" value="Submit"
                                class="fbLinkBtn btn btn-info FacebookSignUpModal-ctaButton">
                            Link Accounts
                        </button>
                        <div class="FacebookSignUpModal-loader Loader Loader--full fb_submit_loading" style="display:none;" ></div>
                    </div>
                </form>

                <!-- Error -->
                <div id="fb_error_div" style="display:none">
                    <div id="fb_error_content">
                    </div>
                    <button class="fbCloseBtn btn btn-info FacebookSignUpModal-ctaButton">Confirm</button>
                </div>

                <div id="signupRadioBtns" class="hide">
                    <!-- User Type Selectors -->
                    <div class="user_type FacebookSignUpModal-method" data-toggle="buttons-radio">
                        <label class="FacebookSignUpModal-radio">
                            <input type="radio" id="fb_signup_btn" name="connect_type" value="fb_signup" checked='checked'>I am a new user
                        </label>
                        <label class="FacebookSignUpModal-radio">
                            <input type="radio" id="fb_login_btn" name="connect_type" value="fb_login">I am a returning user
                        </label>
                    </div>

                    <!-- New User Signup -->
                    <form id="fb_signup" class="FacebookSignUpModal-form connect_div fb_div fl-form" style="display:none">
                        <p>Link your account to a new Freelancer account</p>
                        <div class="form-step">
                          <label>Email address</label>
                          <div id="fb_email"></div>
                        </div>
                        <div class="form-step control-group">
                            <label for="fb_user">
                              Username
                            </label>
                            <input id="fb_user" class="FacebookSignUpModal-input" type="text" value="">
                            <div class="form-alert" id="chk_username_exist">Valid username</div>
                            <input type="hidden" id="fb_currency">
                            <input type="hidden" id="fb_timezone">
                        </div>
                        <div class="form-step control-group">
                            <label id="fb_looking_for_label" class="control-label">I am looking to</label>
                            <div class="FacebookSignUpModal-radioButtonGroup button-group" data-toggle="buttons-radio"
                                 data-default="
                                 none">
                                <label class="FacebookSignUpModal-lookingForButton btn">
                                    <input type="radio" name="looking_for" id="fb_looking_to_hire"
                                           value="Employer" class="required FacebookSignUpModal-radio">Hire
                                </label>
                                <label class="FacebookSignUpModal-lookingForButton btn">
                                    <input type="radio" name="looking_for" id="fb_looking_for_work"
                                           class="FacebookSignUpModal-radio" value="Worker">Work
                                </label>
                            </div>
                        </div>
                        <button id="fbSignupBtn" type="submit" value="Submit"
                                class="btn btn-info FacebookSignUpModal-ctaButton">Create Account</button>
                        <div class="FacebookSignUpModal-loader Loader Loader--full fb_submit_loading" style="display:none;" ></div>
                    </form>

                    <!-- User Login -->
                    <form id="fb_login" class="FacebookSignUpModal-form connect_div fb_div fl-form" style="display:none">
                        <p>Link to your existing Freelancer account</p>
                        <div id="fb-returning-user-fields">
                            <div id="fb-return-user-username-field" class="form-step">
                                <label for="fb_login_user">Username or Email</label>
                                <input id="fb_login_user" class="FacebookSignUpModal-input" type="text">
                            </div>
                            <div class="form-step">
                                <label for="fb_login_passwd">Password</label>
                                <input id="fb_login_passwd" class="FacebookSignUpModal-input" type="password">
                                <a class="FacebookSignUpModal-forgotPassword" href="#"
                                   onclick='window.open("/users/forgot.php","","width=500, height=450, left=100,top=100,menu=no, toolbar=no,scrollbars=yes,resizable=yes");return false;'>
                                   I forgot my password
                                </a>
                            </div>
                        </div>
                        <div class="link-account-error alert alert-danger" style="display:none"></div>
                        <button type="button" id="fb_link_account_btn" value="Submit"
                                class="fbLinkBtn btn btn-info FacebookSignUpModal-ctaButton">Link Accounts</button>
                        <div class="FacebookSignUpModal-loader Loader Loader--full fb_submit_loading" style="display:none;" ></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div id="facebookConnect-backdrop" class="modal-backdrop"></div>
</div>
<!-- Necessary for Forgot Password modal -->
<div id="facebook-loginsignup-container"></div>


        <!-- Create Milestone & Upgrade Modal -->
<fl-create-milestone-upgrade></fl-create-milestone-upgrade>
<!-- Project Award Modal -->
<fl-modal-project-award></fl-modal-project-award>
<!-- Profile Update Modal -->
<fl-profile-update-modal class="profile-update-modal"></fl-profile-update-modal>




<fl-payment-verification-modal></fl-payment-verification-modal>




    </div>

    <!-- we have to put require js at the very last of the html for legacy gaf pages or it will fail
    or we have to write a huge chunk of shim to support it -->


    <!-- tracking stuffs starts -->

    <!-- Google Code for Remarketing Tag -->
<script type="text/javascript">

    if ((typeof window.usertype != 'undefined') && (window.usertype != '')) {
       loadGARemarketingPixel(window.usertype);
    }

    function loadGARemarketingPixel(usertype) {
        if (!document.getElementById('remarketingPixel')) {
            var google_tag_params = google_tag_params || {};
            var trackUrl = "https://www.googleadservices.com/pagead/conversion/viewthroughconversion/1015002772/";
            var params =  "?value=0&guid=ON&script=0&remarketing_only=true";
            params = params + '&usertype=' + usertype;
            var img = document.createElement("img");
            img.id = 'remarketingPixel'
            img.src = trackUrl + params;
            document.body.appendChild(img);
        }
    }
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="Freelancer Remarketing Tag"
            src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1015002772/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-G7FX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-G7FX');</script>
<!-- End Google Tag Manager -->

    <!-- tracking stuffs ends -->

    <!-- misc stuffs starts -->




    <script type="text/javascript">
        require(['notification/libnotify'], function (libnotify) {
            libnotify.register('notifications', 'logout', function() {
                libnotify.close();
                document.cookie = flns.config.cookie_base + '_USER_ID' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;domain=' + flns.config.cookie_domain + ';path=/;';
                document.cookie = flns.config.cookie_base + '_AUTH_HASH' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;domain=' + flns.config.cookie_domain + ';path=/;';
                document.cookie = flns.config.cookie_base + '_AUTH_HASH_V2' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;domain=' + flns.config.cookie_domain + ';path=/;';
                if (typeof isPageLogout != 'undefined' && isPageLogout) {
                    window.location.href = ssl_base_url + '/logged-out/';
                } else {
                    location.reload();
                }

            });
            // Compatibility with AngularJS
            if (window.onLibNotifyLoadedCallback) {
                window.onLibNotifyLoadedCallback(libnotify);
            }
            window.libnotify = libnotify;
        });
    </script>


    <!-- for jQuery backward compatibility -->
    <script type="text/javascript">
         jQuery.curCSS = jQuery.css;
    </script>


<script src="https://cdn5.f-cdn.com/build/js/tracking/extra-tracking.js?v=592342356c13b9e5b3d56c75d5c2009e&amp;m=6" type="text/javascript"></script>


    <!-- This is to avoid event handlers to run twice if we load Bootstrap twice on the page
    @FIXME: this is just a workaround. A proper fix is to update JS and Angular apps (e.g. PVP) to not rely on a global instance of Bootstrap. -->
    <script>jQuery(document).off('.data-api');</script>

    <!-- flconfigs is the general configuration module, to be used for server-data that is shared among multiple modules -->













    <!-- The messaging data is needed on all logged in pages -->






    <!-- These 2 configs are needed for Threatmetrix to work. @see /modules/common/threatmetrix for more info -->







    <!-- START SYSTEMJS -->

    <!-- SystemJS  -->
<script defer src="https://www.f-cdn.com/polyfills-3d89c31b.js"></script>
<script defer id="systemjs-loader" src="https://www.f-cdn.com/systemjs-1699e4db.js"></script>
<script defer id="systemjs-config" src="https://www.f-cdn.com/systemjs-config-62966d42.js"></script>
<script>
document.getElementById('systemjs-loader').addEventListener('load', function() {
  System.config({
    baseURL: "https:\/\/www.f-cdn.com"
  });
});

document.getElementById('systemjs-config').addEventListener('load', function() {

  System.register(
    'server-data/navigation', [], function(__export) {
            var showNewnavTour;
      var hideNotificationsAbtest;
      var cleanPage;
      var abTestSearchRedirect;
      var showcaseNav;
      return {
        setters: [],
        execute: function() {
                    __export('showNewnavTour', null);
          __export('hideNotificationsAbtest', 1);
          __export('cleanPage', null);
          __export('abTestSearchRedirect', 1);
          __export('showcaseNav', null);
          }
      };
    }
  );


  System.register(
    'server-data/flconfigs', [], function(__export) {
            var sslBaseUrl;
      var cookieBase;
      var notifyServer;
      var flnBillingBaseUrl;
      var languageCode;
      var cookieDomain;
      var siteName;
      var cdnUrls;
      var messagingABTests;
      var globalMatchmakingABTests;
      var thmSslBaseUrl;
      var thmOrgId;
      var userJobs;
      return {
        setters: [],
        execute: function() {
                    __export('sslBaseUrl', "https:\/\/www.freelancer.com");
          __export('cookieBase', "GETAFREE");
          __export('notifyServer', "\/\/notifications.freelancer.com");
          __export('flnBillingBaseUrl', "https:\/\/api.freelancerbilling.com");
          __export('languageCode', "en");
          __export('cookieDomain', ".freelancer.com");
          __export('siteName', "Freelancer.com");
          __export('cdnUrls', ["cdn2.f-cdn.com","cdn3.f-cdn.com","cdn5.f-cdn.com","cdn6.f-cdn.com"]);
          __export('messagingABTests', {"D39493":1,"MM1673":1,"MM1432":0,"MEM919":2,"T31969":1});
          __export('globalMatchmakingABTests', {"MM2149":0});
          __export('thmSslBaseUrl', "https:\/\/cdn1.f-cdn.com");
          __export('thmOrgId', "lar9e74p");
          __export('userJobs', []);
          }
      };
    }
  );


  System.register(
    'angular-server-data/navigation',
    ['angular'],
    function(__export) {
      var angular;
      var abTestOneClickCTS689;
      var isProfileOwner;
      var simpleHeader;
      var hideSubnav;
      return {
        setters: [
          function(ng) {
            angular = ng;
          }
        ],
        execute: function() {
          angular.module('navigation/abTestOneClickCTS689', []).constant(
              'abTestOneClickCTS689', false
            );
            __export('abTestOneClickCTS689', 'navigation/abTestOneClickCTS689');
          angular.module('navigation/isProfileOwner', []).constant(
              'isProfileOwner', null
            );
            __export('isProfileOwner', 'navigation/isProfileOwner');
          angular.module('navigation/simpleHeader', []).constant(
              'simpleHeader', null
            );
            __export('simpleHeader', 'navigation/simpleHeader');
          angular.module('navigation/hideSubnav', []).constant(
              'hideSubnav', null
            );
            __export('hideSubnav', 'navigation/hideSubnav');
          }
      };
    }
  );


  System.import('modules/navigation');

});
</script>

<!--// SystemJS  -->

    <!-- END SYSTEMJS -->
  </body>
</html>
